<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <Cf_VirtualProduct>
                <version>0.1.0</version>
            </Cf_VirtualProduct>
        </modules>
        <blocks>
            <virtualproduct>
                <rewrite>
                    <virtualproduct>Cf_VirtualProduct_Block_VirtualProduct</virtualproduct>
                </rewrite>
            </virtualproduct>
        </blocks>
        <helpers>
            <virtualproduct>
                <class>Cf_VirtualProduct_Helper</class>
            </virtualproduct>
        </helpers>
    </global>
    <frontend>
        <routers>
            <virtualproduct>
                <use>standard</use>
                <args>
                    <module>Cf_VirtualProduct</module>
                    <frontName>youridea</frontName>
                </args>
            </virtualproduct>
        </routers>
        <layout>
            <updates>
                <virtualproduct>
                    <file>virtualproduct.xml</file>
                </virtualproduct>
            </updates>
        </layout>
    </frontend>
</config>
